@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Filmoteka</h1>
    <p class="lead">Projekat FIlmoteka osmisljen je u cilju promovisanja nasih poznatih rezisera, glumaca i filmova</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Glumci</h2>
        <p>
            Ukoliko zelite da vidite kompletan spisak registrovanih glumaca na nasem sajtu, kliknite na dugme ispod:
        </p>
        <p><a class="btn btn-default" href="~/Glumcis/">Glumci &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reziseri</h2>
        <p>Ukoliko zelite da vidite kompletan spisak rezisera registrovanih kod nas, kliknite na dugme ispod</p>
        <p><a class="btn btn-default" href="~/Rezisers/">Reziseri &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Filmovi</h2>
        <p>Za kompletan spisak filmova koji su registrovani kod nas, kliknite na dugme ispod:</p>
        <p><a class="btn btn-default" href="~/Films/">Filmovi &raquo;</a></p>
    </div>
</div>